serviceName: scale-app
replicaCount: 2
image:
  repository: 018535004264.dkr.ecr.eu-west-1.amazonaws.com/scale
  tag: build-59-bd65307f5ea2a66ec87121e4db5ac101c19044de
uiImage:
  uiRepository: 018535004264.dkr.ecr.eu-west-1.amazonaws.com/scale
  uiTag: pr-3-d21a41d9ce29d26fccb9ed40f799fdf6784815ce
ecrserviceAccount:
  create: true
  automount: true
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::018535004264:role/production-ecr-cross-account-access-role
  name: scale-app-ecr-sa
s3serviceAccount:
  create: true
  automount: true
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::018535004264:role/production-s3-access-role
  name: scale-app-s3-sa
esoserviceAccount:
  create: true
  automount: true
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::018535004264:role/production-eso-secrets-reader
  name: eso-secret-reader-sa
  namespace: eso-secrets-reader
service:
  type: ClusterIP
  port: 8000
ingress:
  enabled: true
certManager:
  enabled: true
  issuer:
    create: true
    name: "letsencrypt-prod-issuer"
    kind: ClusterIssuer
    email: "wammymuriu@gmail.com"
    server: "https://acme-v02.api.letsencrypt.org/directory"
    privateKeySecretName: "letsencrypt-prod-account-key"
    solvers:
      - http01:
          ingress:
            class: nginx
  certificate:
    create: true
    secretName: "scale-app-tls"
    ingressClassName: "nginx"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    commonName: "scale-api.wamatamuriu.org"
    dnsNames:
      - "scale-api.wamatamuriu.org"
  uiCertificate:
    create: true
    secretName: "scale-ui-tls"
    ingressClassName: "nginx"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    commonName: "scale-ui.wamatamuriu.org"
    dnsNames:
      - "scale-ui.wamatamuriu.org"
secretsManager:
  name: aws-secretsmanager
  namespace: scale-app-ns
  service: SecretsManager
  region: eu-west-1
externalSecret:
  name: scale-app-external-secret
  namespace: scale-app-ns
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: scale-app-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: scale-app-secret
        # startUpCommand: ["node", "src/index.js"]
argocd:
  hosts:
    - scale-argocd.wamatamuriu.org
  tlsSecret: argocd-tls
  certManager:
    issuer: letsencrypt-prod-issuer
resources:
  requests:
    cpu: "200m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
other: CWKIyTItXMIIWGpp